<div class="outerContainer">
  @if (allowDockout() && !isDialogOpen()) {
    <div id="dockoutButton">
      <button
        mat-mini-fab
        class="button"
        color="accent"
        (click)="onDockout()">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button
        mat-icon-button
        class="button"
        color="accent"
        matTooltip="show documentation"
        (click)="onClickShowDocumentation('dockout')">
        <mat-icon class="ifx-icon">description</mat-icon>
      </button>
    </div>
  }
  <iframe
    [src]="app().url | ifxUfeSafeUrl"
    id="{{ app().combinedName }}"></iframe>
</div>
