<div class="view-selector-container">
  <button
  mat-raised-button
  color="primary"
  [disabled]="this.activeView() === 'default_view'"
  (click)="onViewSelectClick('default_view')">
  Default View
</button>
<button
  mat-raised-button
  color="primary"
  [disabled]="this.activeView() === 'admin_view'"
  (click)="onViewSelectClick('admin_view')">
  Admin Role View
</button>
<button
  mat-raised-button
  color="primary"
  [disabled]="this.activeView() === 'user_view'"
  (click)="onViewSelectClick('user_view')">
  User Role View
</button>
</div>
