<ifx-ufe-header
  [title]="title"
  (logout)="onLogout()"
  [hideJwtCounter]="false">
  @if (showViewSelector()) {
    <ng-container toolbarCenterContainer>
      <ifx-ufe-demo-view-selector />
      <button
        mat-icon-button
        color="primary"
        class="button"
        matTooltip="show documentation"
        (click)="onClickShowDocumentation('isecure')">
        <mat-icon class="ifx-icon">description</mat-icon>
      </button>
    </ng-container>
  }

  <ng-container toolbarLeftAuthContainer>
    <div>
      <button
        mat-icon-button
        color="primary"
        class="button"
        matTooltip="show documentation"
        (click)="onClickShowDocumentation('auth')">
        <mat-icon class="ifx-icon">description</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-container toolbarRightTitleContainer>
    <div>
      <button
        mat-icon-button
        color="primary"
        class="button"
        matTooltip="show documentation"
        (click)="onClickShowDocumentation('header')">
        <mat-icon class="ifx-icon">description</mat-icon>
      </button>
    </div>
  </ng-container>
</ifx-ufe-header>
